/* main-slide{
    
} */

.legend{
    font-size: 2rem;
    /* width: fu; */
    /* height: 40%; */
    /* border-radius: 10px; */
}

/* .carousel .thumb{
    width: 5%;
    height: 50px;
} 

 .carousel{
    text-align: center;
} */